{% extends 'FrontOffice/base.html.twig' %}

{% block title %}Wonderwise - Accueil{% endblock %}

{% block body %}
    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="{{ asset('assets/img/carousel-1.jpg') }}" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Les meilleures destinations</h5>
                                <h1 class="display-3 text-white animated slideInDown">Découvrez le monde avec Wonderwise</h1>
                                <p class="fs-5 text-white mb-4 pb-2">Des voyages inoubliables à des prix imbattables</p>
                                <a href="{{ path('app_offres') }}" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Voir nos offres</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->

    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-plane text-primary mb-4"></i>
                            <h5 class="mb-3">Destinations de rêve</h5>
                            <p>Des destinations soigneusement sélectionnées pour des expériences uniques</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-hotel text-primary mb-4"></i>
                            <h5 class="mb-3">Hébergements de qualité</h5>
                            <p>Des hôtels confortables et accueillants pour votre séjour</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-euro-sign text-primary mb-4"></i>
                            <h5 class="mb-3">Prix attractifs</h5>
                            <p>Des offres adaptées à tous les budgets</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                            <h5 class="mb-3">Support 24/7</h5>
                            <p>Une équipe à votre écoute pour vous accompagner</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

    <!-- Courses Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Destinations</h6>
                <h1 class="mb-5">Nos meilleures offres</h1>
            </div>
            <div class="row g-4 justify-content-center">
                {% for offre in offres|slice(0, 6) %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="course-item bg-light">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid" src="{{ asset('uploads/images/' ~ offre.image) }}" alt="{{ offre.titre }}">
                            </div>
                            <div class="text-center p-4 pb-0">
                                <h5 class="mb-4">{{ offre.titre }}</h5>
                                <h3 class="mb-0">{{ offre.prix }}€</h3>
                                <div class="mb-3">
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                </div>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>{{ offre.nombreJours }} jours</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>{{ offre.nombrePersonne }} places</small>
                            </div>
                            <div class="text-center p-4 pt-0">
                                <a href="{{ path('app_offre_show', {'id': offre.id}) }}" class="btn btn-primary py-2 px-4 mt-4">Voir plus</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Courses End -->
{% endblock %}
