{% extends 'base.html.twig' %}

{% block title %}Celebrity Details{% endblock %}

{% block body %}
<div class="container py-5">
    <h1>{{ celebrity.name }}</h1>
    {% if celebrity.img %}
        <img src="{{celebrity.img }}" alt="{{ celebrity.name }}" class="img-fluid">
    {% else %}
        <p>No image available</p>
    {% endif %}
    <p>{{ celebrity.description }}</p>
    <h2>Job</h2>
    <p>{{ celebrity.work }}</p>
    <h2>Country</h2>
    <p>{{ celebrity.country.name }}</p>
    <a href="{{ path('app_celebrity_edit', {'id': celebrity.id}) }}" class="btn btn-primary">Edit</a>
    <form method="post" action="{{ path('app_celebrity_delete', {'id': celebrity.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ celebrity.id) }}">
        <button class="btn btn-danger">Delete</button>
    </form>
</div>
{% endblock %}