{% extends 'base.html.twig' %}

{% block title %}Traditional Food Details{% endblock %}

{% block body %}
<div class="container py-5">
    <h1>{{ traditional_food.name }}</h1>
    {% if traditional_food.img %}
        <img src="{{ traditional_food.img }}" alt="{{ traditional_food.name }}" class="img-fluid">
    {% else %}
        <p>No image available</p>
    {% endif %}
    <p>{{ traditional_food.description }}</p>
    <h2>Recipe</h2>
    <p>{{ traditional_food.recipe }}</p>
    <h2>Country</h2>
    <p>{{ traditional_food.country.name }}</p>
    <a href="{{ path('app_traditional_food_edit', {'id': traditional_food.id}) }}" class="btn btn-primary">Edit</a>
    <form method="post" action="{{ path('app_traditional_food_delete', {'id': traditional_food.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <button class="btn btn-danger">Delete</button>
    </form>
</div>
{% endblock %}